.container > * {
  position: absolute;
  left: 0;
  top: 0;
}


/* game map area */

#map_container {
  position: relative;
  overflow: hidden;
  width: 1200px;
  height: 500px;
}


#background-canvas {
  position: absolute;
  z-index: 0;
}

video {
  position: fixed;
  bottom: 5px;
  right: 5px;
}


/* gifs/players */

.gifs {
  position: relative;
}

.gifs > img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
}